# JWT
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION_MS=your-expiration-time

# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=your-db-name
DB_USERNAME=username
DB_PASSWORD=your-password

# AWS Credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your-bucket-name